<div class="nav">
        <div class="logo"><%= link_to 'GIGASAURS', root_path  %></div>
                <div class="nav__links"><%= link_to 'GIGS', gigs_path  %></div> 
                <div class="nav__links"><%= link_to 'BANDS', bands_path  %></div> 
                <div class="nav__links"><%= link_to 'USERS', users_path  %></div>
            <div class="button"><% if user_signed_in? %>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                <% else %>
                    <%= link_to "Sign in", new_user_session_path %>
                <% end %>
            </div>
</div>



<%# This is where you have to kill your babies. While I liked the side panel - it wasn't doing much and causing too much issues with the pages %>
<%# <div class="sidebar">
    <div class="sidebar-nav">
            <div class="nav-item"
                ><%= link_to 'Rock On!!', root_path  %>    
                <%# <span class="link-text">GIGASAURS</span>
            </div>

                <div class="nav-item">
                <% if user_signed_in? %>
                <%# <%= "#{current_user.name}"<br>  %>
                <%# <%= "ID:#{current_user.id}" %> 
     <%# <% end </div>  %>

            <%# <div class="nav-item"> %>
                <%# <%= link_to 'GIGS', gigs_path  %> 
                <%# <span class="link-text">GIGS</span> %>
                <%# </div> %> 

            <%# <div class="nav-item"> %>
                <%# <%= link_to 'BANDS', bands_path  %> 
                <%# <span class="link-text">BANDS</span> %>
                <%# </div> %>

            <%# <div class="nav-item"> %>
                <%# <%= link_to 'USERS', users_path  %> 
                <%# <span class="link-text">USERS</span> %>
                <%# </div> %>

            <%# <div class="nav-item"> %>
            <%# <% if user_signed_in? %> 
                <%# <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
            <%# <% else %> 
                <%# <%= link_to "Sign in", new_user_session_path %> 
            <%# <% end %> 
            <%# <span class="link-text">LOGIN</span> %>
            <%# <div> %>
    <%# </div> %>
<%# </div> %>




