<% if flash[:unauthorized] %>
<p><%= flash[:unauthorized]  %></p>
<% end %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="hero-image">
    <%= image_tag "drumstick.png", class: "hero-image" %>
  </div>
<div>

<div class="welcome">

  <div class="dio-image">
    <%= image_tag "Dio.png", class: "dio-image" %>
  </div>

  <div class="greeting">
  <br><br>
  <h1>GIGASAURS</h1>
  <h1><% if user_signed_in? %>
        <%= "Welcome #{current_user.name}" %>
      <% end %> <h1>

  <h1>Your new site for local bands to sell their gig tickets and merch in the Melbourne area</h1>

  <div class="sign-up-button">
    <%= button_to "SIGN UP!", new_user_registration_path, method: :get  %>
  </div>
  </div>
</div>

<br>
  <% if current_user.try(:admin?) %>
    <%= link_to "ADMIN CONTROL PANEL", "/admin" %>
  <% end %>

</div>
</div>

<%# <div class="footer">
<p>powered by GitHub | Stripe | Ruby On Rails.<p>
</div> %>
