<% if flash[:unauthorized] %>
<p><%= flash[:unauthorized]  %></p>
<% end %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="hero-image">
  <%= image_tag "drumstick.png", class: "hero-image" %>
  </div>

<%# <%= class="bg" ; image_tag "bg", alt: "background-page" %>
  <div class="welcome"> 
  <br><br>
  <h1>GIGASAURS</h1>
  <h1>Welcome to Gigasaurs</h1>
  <p>Your new site for local bands to sell their gig tickets and merch in the Melbourne area</p>

<div class="sign-up-button">
  <%= button_to "Sign up", new_user_registration_path, method: :get  %>
</div>

<br>
  <% if current_user.try(:admin?) %>
    <div>
    <%= link_to "ADMIN CONTROL PANNEL", "/admin" %>
    </div>
  <% end %>

<br><br><br><br>

</div>
</div>