<% if flash[:success] %>
<p><%= flash[:success] %></p>
<% end %>

<%= render 'shared/navbar' %>
<%# this will print each single job listing %>

<div class="show-band">

<h1>BAND LISTING</h1>
<h1><%= @band.name %></h1>

<div class="about-band">
<h3>About us : <%= @band.about %></h3>
</div>
<div class="website-band">
<h3>Check us out at :</h3>
<p><%= @band.website %></p>
</div>

<div class="show-image">
    <% if @band.profile_picture.attached? %>
    <%= image_tag @band.profile_picture, class: "band-pic"  %>
    <% end %>
</div>

<p>_____________________________________________________</p>

<h3>BAND MEMBERS</h3>
<% @band.users.each do |user| %>
<p><%= user.name%></p>
<% end %>
<p>_____________________________________________________</p>


<%# add the other details here too %>

<%# <p>Posted By :<%= @gig.band_id %> 

<div class="show-edit-delete">
<% if current_user.id == @band.user_id %>
    <%= link_to 'Edit', edit_band_path(@band.id) %>
    <%= link_to 'Add A Gig', new_gig_path %>
    <%= link_to 'Delete', band_path(@band.id), method: :delete, data: { confirm: "Really delete #{@band.name}?"} %>
    <% end %>
</div>

<br>
<%= link_to 'Back', bands_path %>
</div>

</div>



<%# <% if can? :edit, @band  %> 
<%# <%= link_to 'Edit', edit_band_path(@band.id) %> 
<%# <% end %> 
<%# <% if can? :destroy, @band  %> 
<%# <%= link_to 'Delete', band_path(@band.id), method: :delete, data: { confirm: "Really delete #{@band.name}?"} %> %>
<%# <% end %> 
<%# <%= link_to 'Back', bands_path %> 
