<%# This helper checks if any errors occur during the saving of gigs %>
<% if @gig.errors.any? %>
<div id="error_explanation">
<h2>
<%= pluralize(@gig.errors.count, "error") %> prohibited
this article from being saved:
</h2>
<ul>
<% @gig.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<%= form_with model: @gig, local: true do |form| %>
<div>
    <%= form.label 'GIG TITLE' %>
    <%= form.text_field :title %>
</div>

<div>
    <%= form.label 'VENUE' %>
    <%= form.text_field :venue %>
</div>

<div>
    <%= form.label 'LOCATION:' %>
    <%= form.text_field :location %>
</div>

<div>
    <%= form.label 'DATE OF GIG' %>
    <%= form.date_field :date %>
</div>

<div>
    <%= form.label 'STARTING TIME' %>
    <%= form.time_field :start_time %>
</div>

<div>
    <%= form.label 'FINISH TIME' %>
    <%= form.time_field :end_time %>
</div>

<div>
    <%= form.label 'GIG DETAILS' %>
    <%= form.text_field :gig_details %>
</div>

<div>
    <%= form.label 'SUPPORT' %>
    <%= form.text_field :support %>
</div>

<div>
    <%= form.label 'COST' %>
    <%= form.number_field :cost %>
</div>

<div>
    <%= form.label 'TIX AVAILABLE' %>
    <%= form.number_field :tickets_available %>
</div>

<%# Allows a user to upload images to aws %>
<div>
    <%= form.label 'UPLOAD GIG POSTER' %>
    <%= form.file_field :picture_upload, accept: 'image/png, image/gif, image/jpeg, image/jpg' %>
</div>

<%# Grabs the entries from the user bands, their name and id %>
<div>
    <% form.label 'SELECT YOUR BAND' %>
    <%= form.collection_select(:band_id, current_user.bands, :id, :name)  %>
</div>

<div>
<%= form.submit name="Create Gig" %>
</div>

<% end %>



