<%= render 'shared/navbar' %>
<% if flash[:success] %>
<p><%= flash[:success] %></p>
<% end %>

<div class="gig-new">

<h1> Create a new gig listing <h1>

<%= render 'form' %>

<%= link_to 'Back', gigs_path %>

<%# because it should go back to the band page that created it %>
 <%# <%= link_to 'Back', bands_path(:id) %>  

</div>