<%= render 'shared/navbar' %>
<%# this will print each single gig listing %>

<div class="gig-container">

<%# Show the gig information and grabs the information via the controller %>
<div class="gig-show">
    <h1>GIG LISTING</h1>
    <h1><%= @gig.title %></h1>
    <h3>Held at : <%= @gig.venue %></h3>
    <h3>Description :</h3>
    <p><%= @gig.gig_details %></p>
    <%# This divides the number by 100 to give dollars %>
    <h2>Price: <%= number_to_currency(@gig.cost / 100.0) %> </h2>
</div>

<%# displays the images that a user can upload %>
<div class="gig-image">
    <% if @gig.picture_upload.attached? %>
    <%= image_tag @gig.picture_upload, class: "gig-poster"  %>
    <% end %>
    <p>Posted By : <%= @gig.band.name %>
    <p>Posted By : <%= @gig.band.user[:name] %>
</div>

<%# allows the owner of the gig to edit or delete. The current_user band_ids checks that the @gig band_id is the same %>
<div class="gig-edit">
    <% if current_user.band_ids.include? @gig.band_id %>
            <%= link_to 'Edit', edit_gig_path(@gig.id) %>    
            <%= link_to 'Delete', gig_path(@gig.id), method: :delete, data: { confirm: "Really delete #{@gig.title}?"} %>
    <% end %>
<div>

<p>_______________________________________________________________<p>

<%# This sets up the stripe payment system: currently not set up yet %>
<div class="gig-ticket">
<% if current_user %>
    <h1> Would you like to buy tickets? </h1>
<%# <%= link_to "Pay Now", "", id: "stripe" %>
<% end %>

<%# Currently this is incorrect as it's showing :tickets_available. I need to change to add to a cart/orders %>
<%= form_with model: @gig, local: true do |form| %>
<div>
    <%= form.label 'HOW MANY TICKETS?' %>
    <%= form.text_field :ticket_available %>
    <div>
    <%= form.submit name="BUY TICKETS" %>
</div>
    <% end %>
</div>

<br><br>
<%= link_to 'Back', gigs_path %>
</div>